:root {
  --color-red-50: #f4dfdd;
  --color-red-100: #eec3bf;
  --color-red-200: #e2a7a1;
  --color-red-300: #de857b;
  --color-red-400: #d7695d;
  --color-red-500: #dd3927;
  --color-red-600: #c93f2f;
  --color-red-700: #ba4538;
  --color-red-800: #a03e34;
  --color-red-900: #83372e;
  --color-red-950: #6f2a22;
  --color-red-1000: #3f0d07;

  --color-yellow-50: #f2f0d1;
  --color-yellow-100: #f0ebb5;
  --color-yellow-200: #eae291;
  --color-yellow-300: #e4d86b;
  --color-yellow-400: #d9cc4d;
  --color-yellow-500: #c8bc42;
  --color-yellow-600: #b3a837;
  --color-yellow-700: #92892f;
  --color-yellow-800: #726b22;
  --color-yellow-900: #5b541b;
  --color-yellow-950: #403c16;
  --color-yellow-1000: #272515;

  --color-orange-50: #ffe8db;
  --color-orange-100: #ffd1bf;
  --color-orange-200: #f3ae96;
  --color-orange-300: #e08b6f;
  --color-orange-400: #cc6d4e;
  --color-orange-500: #b35231;
  --color-orange-600: #994225;
  --color-orange-700: #7c341b;
  --color-orange-800: #622814;
  --color-orange-900: #4b1e0f;
  --color-orange-950: #37170c;
  --color-orange-1000: #241009;

  --color-green-50: #dcfef1;
  --color-green-100: #bdf3dd;
  --color-green-200: #9ce3c5;
  --color-green-300: #7cd7af;
  --color-green-400: #56c795;
  --color-green-500: #28ba7e;
  --color-green-600: #34ae78;
  --color-green-700: #309266;
  --color-green-800: #2e7956;
  --color-green-900: #285f44;
  --color-green-950: #234936;
  --color-green-1000: #1b3125;

  --color-emerald-50: #e9f8ee;
  --color-emerald-100: #b9e8cc;
  --color-emerald-200: #91e3b3;
  --color-emerald-300: #66d493;
  --color-emerald-400: #56c888;
  --color-emerald-500: #3cba79;
  --color-emerald-600: #2d9e65;
  --color-emerald-700: #17884c;
  --color-emerald-800: #126b3a;
  --color-emerald-900: #0e4c28;
  --color-emerald-950: #0a361d;
  --color-emerald-1000: #0a2714;

  --color-teal-50: #e0fefe;
  --color-teal-100: #b5f8f8;
  --color-teal-200: #91eef0;
  --color-teal-300: #68ddef;
  --color-teal-400: #49d3e7;
  --color-teal-500: #21c5d7;
  --color-teal-600: #20b6c7;
  --color-teal-700: #1d9bac;
  --color-teal-800: #178d9c;
  --color-teal-900: #0f616e;
  --color-teal-950: #0e3c43;
  --color-teal-1000: #072528;

  --color-blue-50: #d3e5f4;
  --color-blue-100: #c4daf5;
  --color-blue-200: #a4cffb;
  --color-blue-300: #7fbff9;
  --color-blue-400: #4fa7f8;
  --color-blue-500: #4295f7;
  --color-blue-600: #3981e7;
  --color-blue-700: #316bad;
  --color-blue-800: #285587;
  --color-blue-900: #27476c;
  --color-blue-950: #273c55;
  --color-blue-1000: #1a2532;

  --color-pink-50: #f4dce8;
  --color-pink-100: #f0b6d3;
  --color-pink-200: #df8ebb;
  --color-pink-300: #e67bb7;
  --color-pink-400: #e566ad;
  --color-pink-500: #d44796;
  --color-pink-600: #bd2b7d;
  --color-pink-700: #a9216d;
  --color-pink-800: #8a1758;
  --color-pink-900: #650d3e;
  --color-pink-950: #4c0d30;
  --color-pink-1000: #2e061c;

  --color-purple-50: #dbdbfe;
  --color-purple-100: #cec7fc;
  --color-purple-200: #bcb2f7;
  --color-purple-300: #b1a2fa;
  --color-purple-400: #9e88f9;
  --color-purple-500: #8564f0;
  --color-purple-600: #7a58e2;
  --color-purple-700: #6243c9;
  --color-purple-800: #5036a9;
  --color-purple-900: #3a2979;
  --color-purple-950: #231c42;
  --color-purple-1000: #100c28;

  --color-neutral-0: #ffffff;
  --color-neutral-50: #f8f8f8;
  --color-neutral-100: #f1f1f2;
  --color-neutral-200: #e8e8ea;
  --color-neutral-300: #dddde1;
  --color-neutral-400: #b8b8be;
  --color-neutral-500: #8d8d96;
  --color-neutral-600: #7f8089;
  --color-neutral-700: #6d6d75;
  --color-neutral-800: #515257;
  --color-neutral-900: #3e3f4c;
  --color-neutral-950: #2c2d36;
  --color-neutral-1000: #17181e;
  --color-neutral-1100: #040406;
  --color-neutral-1200: #000000;

  --color-neutral-100A: #17171708;
  --color-neutral-200A: #0815230f;
  --color-neutral-300A: #0c120e24;
  --color-neutral-400A: #090f204a;
  --color-neutral-500A: #060c1e75;

  --color-darkNeutral--100: #111213;
  --color-darkNeutral-0: #18191a;
  --color-darkNeutral-50: #1f1f21;
  --color-darkNeutral-100: #242528;
  --color-darkNeutral-150: #2b2c2f;
  --color-darkNeutral-200: #303134;
  --color-darkNeutral-300: #3d3f43;
  --color-darkNeutral-400: #4b4d51;
  --color-darkNeutral-500: #64666b;
  --color-darkNeutral-600: #7f8187;
  --color-darkNeutral-700: #97999e;
  --color-darkNeutral-800: #a9abaf;
  --color-darkNeutral-900: #bfc1c4;
  --color-darkNeutral-1000: #cecfd2;
  --color-darkNeutral-1100: #e2e3e4;
  --color-darkNeutral-1200: #ffffff;

  --color-darkNeutral--100A: #02040475;
  --color-darkNeutral-0A: #bdbdbd0a;
  --color-darkNeutral-50A: #ceced812;
  --color-darkNeutral-100A: #d9dae61a;
  --color-darkNeutral-150A: #e3e4f11f;
  --color-darkNeutral-200A: #e9edfc2e;
  --color-darkNeutral-300A: #e6e9f540;
  --color-darkNeutral-400A: #eaf0fa5c;
}
