NODE_ENV=development

DATABASE_URL=postgres://planici:planici@localhost:5432/planici

JWT_SECRET=
JWT_REFRESH_SECRET=

NEXT_PUBLIC_API_URL=http://localhost:3333/v1
API_URL=http://localhost:3333/v1
CORS_ORIGIN=http://localhost:3000
WEB_APP_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

AWS_REGION=us-east-1
AWS_S3_BUCKET=
SES_FROM_EMAIL=
MAIL_DRIVER=console

SONAR_TOKEN=
SENTRY_DSN=